doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul View
        li 
          a(href="/inventory/items") All Items
        li 
          a(href="/inventory/category") All category

      ul Create
            li 
              a(href="/inventory/") Create Items
            li 
              a(href="/inventory/category") Create category
            
  block content